<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1 th:text="'회원가입'"></h1>

  <form method="post" th:action="@{/login}">
      ID</br> <input type="text" name="id" placeholder="id"></br>
      Password</br> <input type="text" name="pass" placeholder="password"></br>
      Name</br> <input type="text" name="name" placeholder="name"></br>
      Email</br> <input type="text" name="email" placeholder="email"></br>
      Tel</br> <input type="text" name="tel" placeholder="tel"></br>
      Local</br>
      <select name="local">
      <option value="">서울</option>
      <option value="대구">대구</option>
      <option value="파주">파주</option>
      <option value="기타">기타</option>
      </select></br></br>
      <button type="submit">입력완료</button>
  </form>

</body>
</html>